* {
  margin: 0px;
  padding: 0px;
}
.landing {
  /* background-color: white; */
  width: 1007px;
  height: 4101px;
}
.navbar {
  /* width: 1005px;
    height: 120px;
    border: 1px solid black; */
}

.img1 {
  margin: 25px 0px -8px 50px;
}
.navbar2 {
  display: flex;
  justify-content: space-around;
  margin: -27px 0px 0px 450px;
}
.help {
  background-color: #75bf7a;
  width: 90px;
  height: 30px;
  position: relative;
  top: -6px;
  left: -25px;
  cursor: help;
}

.Tere-benefits {
  position: relative;
  left: 15px;
  color: black;
  text-decoration: none;
}
.home {
  position: relative;
  left: 75px;
  color: black;
  text-decoration: none;
}
.How-tere-work {
  position: relative;
  left: 50px;
  color: black;
  text-decoration: none;
}
.dv2 {
  /* border: 1px solid black; */
  width: 420px;
  height: 372px;
  position: absolute;
  top: 110px;
  left: 500px;
}

.im3 {
  width: 330px;
  height: 120px;
  position: absolute;
  top: 195px;
  left: 58px;
}

.vct1 {
  width: 330px;
  height: 250px;
  position: absolute;
  top: -50px;
  left: 70px;
}
.im2 {
  width: 200px;
  height: 250px;
  position: absolute;
  top: -32px;
  left: 150px;
}
.cloud {
  /* background-color: black; */
  position: absolute;
  top: 44px;
  left: 265px;
  width: 80px;
  height: 20px;
}
.sun {
  position: absolute;
  left: 295px;
  top: 15px;
  width: 25px;
  height: 25px;
}
h1 {
  position: absolute;
  top: 145px;
  left: 51px;
  font-family: sans-serif;
  font-weight: 800;
}
.note {
  position: absolute;
  top: 295px;
  left: 52px;
  color: #8b8a8a;
}
.play1 {
  position: absolute;
  top: 378px;
  left: 51px;
  width: 160px;
  height: 54px;
}
.play2 {
  position: absolute;
  top: 378px;
  left: 227px;
  width: 160px;
  height: 54px;
}
fieldset {
  border: none;
  background-color: #75bf7a;
  height: 120px;
  width: 902px;
  position: absolute;
  top: 470px;
  left: 50px;
  border-radius: 10px;
}
.p1 {
  color: white;
  position: absolute;
  top: 43px;
  left: 80px;
}
.in1 {
  width: 300px;
  height: 50px;
  position: absolute;
  top: 35px;
  left: 315px;
  text-align: center;
  font-size: 16px;
  border-radius: 4.5px;
}
.drive {
  background-color: black;
  width: 220px;
  height: 53px;
  position: absolute;
  top: 36px;
  left: 630px;
  color: white;
  border-radius: 4.5px;
  cursor: grab;
}
.how {
  position: absolute;
  top: 660px;
  left: 415px;
  width: 200px;
}
.app {
  position: absolute;
  top: 695px;
  left: 330px;
  text-align: center;
  color: #9e9da2;
}
.imgcir {
  width: 40px;
  position: absolute;
  top: 800px;
  left: 310px;
}
.imgcir1 {
  width: 8px;
  position: absolute;
  top: 812px;
  left: 325px;
}
.uplh5 {
  position: absolute;
  top: 852px;
  left: 222px;
  font-family: sans-serif;
  font-weight: 800;
}
.uplp1 {
  position: absolute;
  top: 876px;
  left: 160px;
  text-align: right;
  color: #9e9da2;
}
.imgcir-2 {
  width: 40px;
  position: absolute;
  top: 800px;
  left: 655px;
}
.imgcir2 {
  width: 11px;
  position: absolute;
  top: 812px;
  left: 670px;
}
.uprh5 {
  position: absolute;
  top: 852px;
  left: 655px;
  font-family: sans-serif;
  font-weight: 800;
}
.uprp1 {
  position: absolute;
  top: 876px;
  left: 656px;
  text-align: left;
  color: #9e9da2;
}
.circle {
  border: 1px solid #75bf7a;
  width: 250px;
  height: 250px;
  background-color: #75bf7a;
  position: absolute;
  top: 836px;
  left: 377px;
  border-radius: 100%;
}
.imgcir-3 {
  width: 40px;
  position: absolute;
  top: 1000px;
  left: 306px;
}
.imgcir3 {
  width: 12px;
  position: absolute;
  top: 1012px;
  left: 320px;
}
.dwlh5 {
  position: absolute;
  top: 1056px;
  left: 158px;
  font-family: sans-serif;
  font-weight: 800;
}
.dwlh1 {
  position: absolute;
  top: 1084px;
  left: 154px;
  text-align: right;
  color: #9e9da2;
}
.imgcir-4 {
  width: 40px;
  position: absolute;
  top: 1000px;
  left: 655px;
}
.imgcir4 {
  width: 12px;
  position: absolute;
  top: 1013px;
  left: 669px;
}
.dwrh5 {
  position: absolute;
  top: 1059px;
  left: 654px;
  font-family: sans-serif;
  font-weight: 800;
}
.dwrh1 {
  position: absolute;
  top: 1084px;
  left: 655px;
  text-align: left;
  color: #9e9da2;
}
.dots {
  position: absolute;
  top: 1170px;
  left: 470px;
}
.terelogo {
  position: absolute;
  top: 1250px;
  left: 350px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  height: 100vh;
}
.centered-border {
  border: 1px solid black;
  padding: 20px;
  width: 700px;
  height: 110px;
  position: absolute;
  bottom: 530%;
  left: 13%;
  background-color: #f1f0f0;
  border: #f1f0f0;
  border-radius: 10px;
}
.runningman {
  width: 140px;
  height: 150px;
  position: absolute;
  top: 0px;
  left: 480px;
}
.img01 {
  width: 40px;
  height: 25px;
  position: absolute;
  top: 28px;
  left: 21px;
}
.flexible {
  font-size: 34px;
  line-height: 26px;
  font-weight: 500;
  position: absolute;
  top: 27px;
  left: 67px;
}
.working {
  font-size: 17px;
  position: absolute;
  top: 95px;
  left: 70px;
  line-height: 19px;
  color: #9e9da2;
}
.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  height: 100vh;
}
.centered-border2 {
  border: 1px solid black;
  padding: 20px;
  width: 700px;
  height: 110px;
  position: absolute;
  bottom: 600%;
  left: 20%;
  background-color: #f1f0f0;
  border: #f1f0f0;
  border-radius: 10px;
}
.money {
  width: 130px;
  height: 135px;
  position: absolute;
  top: 14px;
  left: 120px;
}
.img02 {
  width: 40px;
  height: 25px;
  position: absolute;
  top: 33px;
  left: 490px;
}
.earning {
  font-size: 34px;
  line-height: 26px;
  font-weight: 500;
  position: absolute;
  top: 32px;
  left: 535px;
}
.bydriving {
  font-size: 17px;
  position: absolute;
  top: 75px;
  left: 490px;
  line-height: 19px;
  color: #9e9da2;
}
.container3{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
position: absolute;
height: 100vh;
}
.centered-border3{
border: 1px solid black ;
padding: 20px;
  width: 700px;
  height: 110px;
  position: relative;
  bottom: 632%;
  left: 17%;
  background-color: #f1f0f0;
  border: #f1f0f0;
  border-radius: 10px;
}
.microfone{
  width: 140px;
  height: 160px;
  position: absolute;
  top: 0px;
  left: 530px;
}
.mobile{
  width: 140px;
  height: 290px;
  position: absolute;
  top: -50px;
  left: 190px;
  z-index: -1;
}
.no03{
  width: 40px;
  height: 25px;
  position: absolute;
  top: 17px;
  left: 24px;
}
.Customer{
  font-size: 34px;
  line-height: 26px;
  font-weight: 500;
  position: absolute;
  top: 17px;
  left: 67px;
}
.provider{
  font-size: 17px;
  position: absolute;
  top: 80px;
  left: 67px;
  line-height: 19px;
  color: #9e9da2;
}

.container4{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: absolute;
  height: 100vh;
  }
  .centered-border4{
  border: 1px solid black ;
  padding: 20px;
    width: 965px;
    height: 110px;
    position: relative;
    bottom: 580%;
    left: auto;
    background-color: #f1f0f0;
    border: #f1f0f0;
    border-radius: 10px;
  }
.smallogo{
  margin: 0px 60px;
  width: 100px;
  position: absolute;
  top: 47px;
}
.befriend1{
  display: flex;
  margin: 3px 222px;
  color: #8B8BA5
}
.befriend2{
  display: flex;
  margin: -23px 408px;
  color: #8B8BA5
}
.season{
  margin: 35px 222px;
  line-height: 28px ;
  color: #8B8BA5
}
.jakarta{
  margin: -119px 408px;
  line-height: 28px ;
  color: #8B8BA5
}
.play3{
  position: absolute;
  top: 30%;
  left: 60% ;
  width: 160px;
  height: 54px;
}
.play4{
  position: absolute;
  top: 30% ;
  left: 80%;
  width: 160px;
  height: 54px;
}
@media (max-width: 420px){
  .help{
    position: relative;
    left: -478px;
    top: 34px;
  }
  .img1{
    width: 75px;
    height: 45px;
  }
  .home{
    position: absolute;
    left: 149px;
    top: 40px;
  }
  .How-tere-work{
    position: absolute;
    left: 203px;
    top: 40px;
  }
  .Tere-benefits{
    position: absolute;
    left: 311px;
    top: 40px; 
  }
  .vct1 {
    position: absolute;
    top: 0px;
    left: -447px;
  }
  .im2{
    position: absolute;
    top: 0px;
    left: -377px;
  }
  .sun{
    position: absolute;
    top: 59px;
    left: -239px;
  }
  .im3{
    position: absolute;
    top: 200px;
    left: -447px;
  }
  h1{
    position: absolute;
    top: 441px;
    left: 51px;
  }
  .note{
    position: absolute;
    top: 585px;
    left: 53px;
  }
  .play1{
    position: absolute;
    top: 671px;
    left: 52px;
  }
  .play2{
    position: absolute;
    top: 671px;
    left: 224px;
  }
  fieldset{
    position: absolute;
    top: 775px;
    left: 52px;
    width: 320px;
    height: 249px;
  }
  .in1{
    position: absolute;
    top: 95px;
    left: 9px
  }
  .drive{
    position: absolute;
    top: 163px;
    left: 52px;
  }
  .how{
    position: absolute;
    top: 1075px;
    left: 110px;
  }
}