*{
    margin: 0px;
    padding: 0px;
}
.landing{
    /* background-color: white; */
    width: 1007px;
    height: 4101px;   
}
.navbar{
    /* width: 1005px;
    height: 120px;
    border: 1px solid black; */
}
.img1{
    margin: 25px 0px -8px 50px;
}
.navbar2{
    display: flex;
    justify-content: space-around;
    margin: -27px 0px 0px 450px;
}
.help{
    background-color: #75BF7A;
    width: 90px;
    height: 30px;
    position: relative;
    top: -6px;
    left: -25px;
}
.Tere-benefits{
    position: relative;
    left: 15px;
}
.home{
position: relative;
left: 75px;
}
.How-tere-work{
    position: relative;
    left: 50px;
}
.dv2{
    border: 1px solid black;
    width: 420px;
    height: 372px;
    position: absolute;
    top: 110px;
    left: 500px;
}
.im2{
    width: 200px;
    height: 250px;
    position: absolute;
    top: -32px;
    left: 150px;
    
}
.im3{
    width: 330px;
    height: 120px;
    position: absolute;
    top: 176px;
    left: 58px;
}
.bor2{
    border: 1px solid black;
    width: 1005px;
    height: 120px;
    position: absolute;
    top: 483px;
}